
#restaurant-menu {
    width: 55vw;
    margin: 2rem auto;
    /* border: 2px solid black; */
    /* padding: 0 1rem; */
  }
  .restaurant-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0.8rem 1rem;
    background: -webkit-linear-gradient(to right, #f56217, #0b486b);
    background: linear-gradient(to right, #f56217, #0b486b);
    color: white;
    border-radius: 8px;
  }
  
  .restaurant-menu .description h3 {
    margin-bottom: 0.4rem;
  }
  .restaurant-menu .description p {
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
  }
  .restaurant-menu .ratings {
    /* border: 1px solid black; */
    text-align: center;
    padding: 0.8rem 1.2rem;
    margin-right: 0.5rem;
    box-shadow: 0 0 3px 5px rgba(6, 201, 250, 0.571);
  }
  .restaurant-menu .ratings p {
    margin-bottom: 0.3rem;
  }
  .restaurant-menu .ratings p:nth-child(1) i {
    font-size: 0.8rem;
  }
  .restaurant-menu .ratings p:nth-child(2) {
    width: 100%;
    /* height: 1px; */
    border: 1px solid rgba(182, 226, 62, 0.655);
  }
  .restaurant-menu .ratings p:nth-child(3) {
    font-size: 0.8rem;
    color: white;
  }
  .time {
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
      
    background: linear-gradient(
      to right,
      #4286f4,
      #373b44
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    color: white;
    border-radius: 9px;
  }
  .time span {
    margin-right: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .menu-container .menu-item-container .menu-item img {
    width: 8rem;
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.678);
  }
  .menu-item-container .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .menu-item-container .menu-item .prices {
    font-size: 0.9rem;
  }
  .menu-item-container .menu-item .prices::before {
    content: "\20B9";
    margin-right: 0.1rem;
  }
  .menu-item-container .menu-item .quantity {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    width: 35vw;
    /* border: 1px solid black; */
  }
  .menu-container .line {
    width: 100%;
    border: 1px solid black;
  }
  .dish-type {
    margin: 0.8rem 0;
  }
  